.CardDiv {
    position: relative;
    width: 100%;
    height: 50%;
}

.CardDiv img {
    height: 500px;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    border-radius: 25px;
    position: absolute;
}